@charset "utf-8";


/*task css*/
.add-task-form{
    padding:20px 25px;
    max-width: 700px;
}
.add-task-item{
    padding:0;
    margin:0;
}
.task-progress{
    display: inline-block;
    vertical-align: middle;
    height:18px;
    width:180px;
    margin-left:15px;
}
.task-progress .progress-bar,.task-progress .sr-only{
    position: relative;
    height: 18px;
}
.task-progress .sr-only{
   background-color:#5a98de ;
}
.task-progress-tint{
    position: absolute;
    left:50%;
    top:50%;
    z-index: 9;
}
.required-dot{
    color:#ea5550;
}
.form-horizontal.add-task-form .form-label{
    text-align: left;
}
.add-task-form .row{
    margin-top:15px
}
.task-radio.radio-box{
    padding: 0;
}
.tabBar-1{
    border-bottom: 0;
}
.tabBar.tabBar-1 span{
    font-weight: normal;
    margin-left:2px;
    width: 70px;
    text-align: center;
    padding: 0 2px;
}
.tabBar.tabBar-1 span.speed-select{
    background-color:#5a98de ;
    color:#fff;
}
.add-task-form .webuploader-pick{
    background-color: transparent;
    padding:0
}
.add-task-form .webuploader-pick-hover{
    background-color: transparent;
}
.add-task-form  .webuploader-container{
    vertical-align: middle;
}


/*action css*/
.unit-action-box{
    border: 1px solid #e6e6e6;
    padding:10px;
}
.unit-action-box .btn{
    margin-bottom: 15px;
    position: relative;
    overflow: visible;
    margin-right: 10px;
}
.group-action-box{
    /*border: 1px solid #e6e6e6;*/
}
.group-action-item{
    border:1px solid #e6e6e6;
    margin-bottom: 10px;
    position: relative;
}
.group-action-name{
    background-color: #e6e6e6;
    padding: 5px;
    display: inline-block;
}
.group-action-item .group-actions{
    border:1px solid #e6e6e6;
    margin:5px;
    padding:10px 15px;
}
.group-action-name i{
    display: inline-block;
    cursor: pointer;
    width: 18px;
    height: 18px;
    background: url("../images/edit.png") center no-repeat;
    background-size: contain;
    margin-bottom: -5px;
    margin-left: 5px;
}
.group-action-del{
    display: inline-block;
    cursor: pointer;
    width: 22px;
    height: 22px;
    background: url("../images/del.png") center no-repeat;
    background-size: contain;
    position: absolute;
    right:7px;
    top:7px;
}
.unit-action-del{
    display: none;
    cursor: pointer;
    width: 22px;
    height: 22px;
    background: url("../images/del.png") center no-repeat;
    background-size: contain;
    position: absolute;
    border-radius: 11px;
    right:-11px;
    top:-11px;
}
.unit-action-box .btn:hover .unit-action-del{
    display: inline-block;
}
